<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>CUBAFISH</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="css/card.css" rel="stylesheet" type="text/css"/>
    <link rel="icon" type="image/png" href="css/images/siteIcon.png">
</head>

<body>
<header>
    <div class="wrapper">
        <div class="logo">
            <img style="width: 450px; height: auto;"
                 src="css/images/logo777.png" alt="Logo"
                 class="logo__pic">

        </div>
    </div>

</header>

<div id="moveBackground">
</div>
<!-- end div#header -->
<div id="pageWrapper">
    <transition name="fade">
        <div v-if="show" id="appShowStatus" v-on:click="show=false">
            <div id="insideWindowBasket" v-on:click="show=false">
                <div id="summaryDiv" v-on:click="show=false">
                    <table id="summaryTable">
                        <tr>
                            <td style="border-collapse: collapse;border: 1px none black;border-bottom-style: solid; width: 800px; height: auto">
                                <p>Ваш заказ успешно оформлен</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </transition>
    <div id="appSelector">
        <div id="page">
            <div id="content">
                <div id="textForm">Оформление заказа:</div>
                <div id="appSelectorText">Способ оплаты:</div>
                <div id="selectorStyleMove">
                <select v-model="paymentType" id="selectorStyle">
                    <option disabled value="">Выберите один из вариантов</option>
                    <option>Наличными</option>
                    <option>Оплата при получении</option>
                    <option>ПриватБанк</option>
                </select>
                <p id="necessaryFieldSelectorStyle">*</p>
            </div>
                <div id="typeDelivery">Способ доставки:</div>
                <div id="selectorStyle2Move">
                <select v-model="deliveryType" id="selectorStyle2">
                    <option disabled value="">Выберите один из вариантов</option>
                    <option>Новая Почта</option>
                    <option>Укр Почта</option>
                    <option>Курьером</option>
                </select>
                    <p id="necessaryFieldSelectorStyle2">*</p>
                </div>
                <div id="aboutRecipient">Информация о получателе:</div>
               <div id="regionUserMove">
                <input v-model="regionUser" name="regionUser" type="text" id="regionUser"
                       placeholder="Введите область"/>
                   <p id="necessaryField">*</p>
               </div>
                <div id="cityUserMove">
                <input v-model="cityUser" name="cityUser" type="text" id="cityUser"
                       placeholder="Введите город"/>
                <p id="necessaryFieldCityUser">*</p>
            </div>
                <div id="addressUserMove">
                <input v-model="addressUser" name="addressUser" type="text" id="addressUser"
                       placeholder="Введите адрес доставки"/>
                <p id="necessaryFieldAddressUser">*</p>
            </div>
                <div id="firstnameUserMove">
                <input v-model="firstnameUser" name="firstnameUser" type="text" id="firstnameUser"
                       placeholder="Введите имя"/>
                    <p id="necessaryFieldFirstnameUser">*</p>
                </div>

                <input v-model="middleNameUser" name="lastnameUser" type="text" id="lastnameUser"
                       placeholder="Введите отчество"/>

                <div id="lastNameUserMove">
                <input v-model="lastNameUser" name="surnameUser" type="text" id="surnameUser"
                       placeholder="Введите фамилию"/>
                    <p id="necessaryFieldLastNameUser">*</p>
                </div>

                <div id="aboutEmail">Email:</div>

                <input v-model="emailNameUser" name="emailNameUser" type="email" id="emailNameUser"
                       placeholder="Введите ваш e-mail"/>

                <div id="aboutPhoneNumber">Номер телефона:</div>

                <div id="phoneNameUserMove">
                <input v-model="phoneNameUser" name="phoneNameUser" type="text" id="PhoneNameUser"
                       placeholder="Введите ваш номер телефона"/>
                    <p id="necessaryFieldPhoneNameUser">*</p>
                </div>

                <div id="aboutBookingComment">Комментарий к заказу:</div>
                <div id="bookingCommentMove">
                    <textarea v-model="bookingComments" name="bookingComments"  id="bookingComments"
                              placeholder="Хочу отправить Укрпочтой, например "></textarea>
                </div>
                <label class="container"><p>Я подтверждаю заказ и согласен с условиями <a href="#">пользовательского соглашения</a>.</p>
                    <input v-model="confirmBooking" type="checkbox" id="confirmBooking"
                           value="Пользователь подтвердил заказ">
                    <span class="checkmark"></span>
                </label>

                    <button class="bookingMakerBtn" v-on:click="bookingMaker">ОФОРМИТЬ ЗАКАЗ</button>

            </div>
            <!--start div#sidebar-->
            <div id="sidebar">
                <div id="sideText">Ваш заказ:</div>
                <div id="basketItems">
                    <div id="appBasket"></div>
                </div>
                <hr id="line">
                <div id="summaryText">Всего: {{totalProductPrice}} грн</div>

            </div>
        </div>
    </div>
        <!-- end div#content -->
        <!-- end div#sidebar -->

</div>
<!-- end div#page -->
<!-- end div#wrapper -->
<footer>
    <div id="wrapperFooter">
        <nav>
            <a href="#">Программа лояльности</a>
            <a href="#">Отзывы</a>
            <a href="#"> Контакты</a>
            <a href="#">Найти на карте</a>
            <a href="#">О нас</a>
        </nav>
        <div id="logoFooter">
            <a href="index.html"><img style="width: 700px; height: auto; margin: 0 auto; position: relative"
                                      src="css/images/logo6.png" alt=""></a>

        </div>
        <div class="social">
            <a href="#"><img src="css/images/Facebook.png" alt=""></a>
            <a href="#"><img src="css/images/Instagram.png" alt=""></a>
            <a href="#"><img src="css/images/Twitter.png" alt=""></a>

        </div>
        <p>CUBAFISH. 2020</p>
    </div>
</footer>
<script src="js/card.js"></script>
</body>
</html>
