<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width">
    <title>CUBAFISH-Card</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="js/google-translate.js"></script>
    <script src="//translate.google.com/translate_a/element.js?cb=TranslateInit"></script>
    <link href="css/card.css" rel="stylesheet" type="text/css"/>
    <link rel="icon" type="image/png" href="css/images/siteIcon.png">
</head>

<body>
<header>
    <div class="wrapper">
        <div class="mobileBasketText">Корзина</div>
        <div class="mobileCloseBtn">
            <img src="css/images/close.png" class="mobileCloseBtnImg"></div>
        <div class="logo"><a name="card"></a>
            <a href="https://cubafish.com.ua">
                <img style="width: 450px; height: auto;"
                     src="css/images/logo777.png" alt="Logo"
                     class="logo__pic">
            </a>
        </div>
        <div class="languageKit">
            <img style="width: 40px; height: auto" src="css/images/uaLanguage.png" alt="uk" data-google-lang="uk"
                 class="language__img">
            <img style="width: 40px; height: auto" src="css/images/enLanguage.png" alt="en" data-google-lang="en"
                 class="language__img">
            <img style="width: 40px; height: auto" src="css/images/rusLanguage.png" alt="ru" data-google-lang="ru"
                 class="language__img">
        </div>
    </div>

</header>
<hr id="headerLine"/>
<div id="moveBackground">
</div>

<!-- end div#header -->
<div id="pageWrapper">
    <transition name="fade">
        <div v-if="show" id="appShowStatus" v-on:click="show=false">
            <div class="insideWindowBasket" v-on:click="show=false">
                <div class="summaryDiv" v-on:click="show=false">
                    <table class="summaryTable">
                        <tr>
                            <td class="summaryTableTd">
                                <p>Ваш заказ успешно оформлен</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </transition>
    <transition name="fade">
        <div v-if="showAgreement" id="appShowAgreement" v-on:click="showAgreement=false">
            <div id="insideWindowBasketAgreement" v-on:click="showAgreement=false">
                <div id="summaryDivAgreement" v-on:click="showAgreement=false">
                    <table id="summaryTableAgreement">
                        <tr>
                            <td >
                                <div class="closeAgreement">
                                    <img src="css/images/close.png" style="height: 15px"></div>
                                <p style="margin-left: 10px; margin-right: 10px">&ensp;&ensp;&ensp;Оформляя заказ
                                    Пользователь соглашается на обработку и использование своих персональных
                                    данных (в частности, на использование, внесение в базу данных, распространение,
                                    передачу
                                    третьим лицам, дополнения или иное изменение, удаление и другие действия, которые
                                    может
                                    осуществлять Администрация сайта с персональными данными в письменной (бумажной),
                                    электронной или иной форме), а также другая информация, которая реализуются
                                    Администрацией сайта или третьими лицами с помощью этого сайта. </p>
                                <p style="margin-left: 10px; margin-right: 10px">&ensp;&ensp;&ensp;С целью защиты прав
                                    потребителей и в целях ведения Администрацией Сайта хозяйственной деятельности.
                                    Для соблюдения внутренних правил и процедур в процессе деятельности сайта, а также
                                    для
                                    других целей, которые не противоречат действующему законодательству.</p>
                                <p style="margin-left: 10px; margin-right: 10px">&ensp;&ensp;&ensp;Кроме указанного
                                    выше, настоящим Пользователь дает свое согласие на то, что в случае
                                    необходимости, персональные данные могут быть обработаны и пересланы (переданы)
                                    третьим
                                    лицам в рамках реализации цели, указанной выше. Пользователь признает, осуществления
                                    внесения персональных данных в базу (базы) данных, передачу, распространение.
                                    Изменение
                                    и другая обработка Сайтом персональных данных пользователя с вышеуказанной целью не
                                    требует дополнительного уведомления о таких действиях.</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </transition>
    <div id="appSelector">
        <div id="page">
            <div id="mobilePage">
                <div id="sidebarMobile">
                    <div class="sideText">Ваш заказ:</div>
                    <div class="basketItems">
                        <div id="appBasketMobile"></div>
                    </div>
                    <hr class="line">
                    <div class="summaryText">Всего: {{totalProductPrice}} грн</div>
                </div>
                <div class="textForm">Оформление заказа:</div>
                <div class="appSelectorText">Способ оплаты:</div>
                <div class="selectorStyleMove">
                    <select v-model="paymentType" class="selectorStyle">
                        <option disabled value="">Выберите один из вариантов</option>
                        <option>Оплата на карту</option>
                        <option>Оплата при получении</option>
                    </select>
                    <p class="necessaryFieldSelectorStyle">*</p>
                </div>
                <div class="typeDelivery">Способ доставки:</div>
                <div class="selectorStyle2Move">
                    <select v-model="deliveryType" class="selectorStyle2">
                        <option disabled value="">Выберите один из вариантов</option>
                        <option>Новая Почта</option>
                        <option>Самовывоз (г.Киев)</option>
                    </select>
                    <p class="necessaryFieldSelectorStyle2">*</p>
                </div>
                <div class="aboutRecipient">Информация о получателе:</div>
                <div class="regionUserMove">
                    <input v-model="regionUser" name="regionUser" type="text" class="regionUser"
                           placeholder="Введите область"/>
                    <p class="necessaryField">*</p>
                </div>
                <div class="cityUserMove">
                    <input v-model="cityUser" name="cityUser" type="text" class="cityUser"
                           placeholder="Введите город"/>
                    <p class="necessaryFieldCityUser">*</p>
                </div>
                <div class="addressUserMove">
                    <input v-model="addressUser" name="addressUser" type="text" class="addressUser"
                           placeholder="Введите адрес доставки"/>
                    <p class="necessaryFieldAddressUser">*</p>
                </div>
                <div class="firstnameUserMove">
                    <input v-model="firstnameUser" name="firstnameUser" type="text" class="firstnameUser"
                           placeholder="Введите имя"/>
                    <p class="necessaryFieldFirstnameUser">*</p>
                </div>

                <div class="lastNameUserMove">
                    <input v-model="middleNameUser" name="lastnameUser" type="text" class="lastnameUser"
                           placeholder="Введите отчество"/>
                </div>

                <div class="surnameUserMove">
                    <input v-model="lastNameUser" name="surnameUser" type="text" class="surnameUser"
                           placeholder="Введите фамилию"/>
                    <p class="necessaryFieldSurnameUser">*</p>
                </div>

                <div class="aboutEmail">Email:</div>

                <div class="emailNameUserMove">
                    <input v-model="emailNameUser" name="emailNameUser" type="email" class="emailNameUser"
                           placeholder="Введите ваш e-mail"/>
                </div>
                <div class="aboutPhoneNumber">Номер телефона:</div>

                <div class="phoneNameUserMove">
                    <input v-model="phoneNameUser" name="phoneNameUser" type="text" class="PhoneNameUser"
                           placeholder="Введите ваш номер телефона"/>
                    <p class="necessaryFieldPhoneNameUser">*</p>
                </div>

                <div class="aboutBookingComment">Комментарий к заказу:</div>
                <div class="bookingCommentMove">
                    <textarea v-model="bookingComments" name="bookingComments" class="bookingComments"
                              placeholder="Хочу отправить Укрпочтой, например "></textarea>
                </div>
                <div class="containerMove">
                    <table class="container">
                        <tr>
                            <td class="containerTd1">
                                <input v-model="confirmBooking" type="checkbox"
                                       value="Пользователь подтвердил заказ" class="checkmark">
                            </td>
                            <td>
                                <button v-on:click="getAgreement" class="getAgree">Я подтверждаю заказ и согласен с
                                    условиями пользовательского соглашения.
                                </button>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="bookingMakerBtnMove">
                    <button class="bookingMakerBtn" v-on:click="bookingMaker">оформить заказ</button>
                </div>
            </div>
            <div id="content">
                <div class="textForm">Оформление заказа:</div>
                <div class="appSelectorText">Способ оплаты:</div>
                <div class="selectorStyleMove">
                    <select v-model="paymentType" class="selectorStyle">
                        <option disabled value="">Выберите один из вариантов</option>
                        <option>Оплата на карту</option>
                        <option>Оплата при получении</option>
                    </select>
                    <p class="necessaryFieldSelectorStyle">*</p>
                </div>
                <div class="typeDelivery">Способ доставки:</div>
                <div class="selectorStyle2Move">
                    <select v-model="deliveryType" class="selectorStyle2">
                        <option disabled value="">Выберите один из вариантов</option>
                        <option>Новая Почта</option>
                        <option>Самовывоз (г.Киев)</option>
                    </select>
                    <p class="necessaryFieldSelectorStyle2">*</p>
                </div>
                <div class="aboutRecipient">Информация о получателе:</div>
                <div class="regionUserMove">
                    <input v-model="regionUser" name="regionUser" type="text" class="regionUser"
                           placeholder="Введите область"/>
                    <p class="necessaryField">*</p>
                </div>
                <div class="cityUserMove">
                    <input v-model="cityUser" name="cityUser" type="text" class="cityUser"
                           placeholder="Введите город"/>
                    <p class="necessaryFieldCityUser">*</p>
                </div>
                <div class="addressUserMove">
                    <input v-model="addressUser" name="addressUser" type="text" class="addressUser"
                           placeholder="Введите адрес доставки"/>
                    <p class="necessaryFieldAddressUser">*</p>
                </div>
                <div class="firstnameUserMove">
                    <input v-model="firstnameUser" name="firstnameUser" type="text" class="firstnameUser"
                           placeholder="Введите имя"/>
                    <p class="necessaryFieldFirstnameUser">*</p>
                </div>

                <input v-model="middleNameUser" name="lastnameUser" type="text" class="lastnameUser"
                       placeholder="Введите отчество"/>

                <div class="lastNameUserMove">
                    <input v-model="lastNameUser" name="surnameUser" type="text" class="surnameUser"
                           placeholder="Введите фамилию"/>
                    <p class="necessaryFieldLastNameUser">*</p>
                </div>

                <div class="aboutEmail">Email:</div>

                <input v-model="emailNameUser" name="emailNameUser" type="email" class="emailNameUser"
                       placeholder="Введите ваш e-mail"/>

                <div class="aboutPhoneNumber">Номер телефона:</div>

                <div class="phoneNameUserMove">
                    <input v-model="phoneNameUser" name="phoneNameUser" type="text" class="PhoneNameUser"
                           placeholder="Введите ваш номер телефона"/>
                    <p class="necessaryFieldPhoneNameUser">*</p>
                </div>

                <div class="aboutBookingComment">Комментарий к заказу:</div>
                <div class="bookingCommentMove">
                    <textarea v-model="bookingComments" name="bookingComments" class="bookingComments"
                              placeholder="Хочу отправить Укрпочтой, например "></textarea>
                </div>
                <label class="container"><p>Я подтверждаю заказ и согласен с условиями
                    <input v-model="confirmBooking" type="checkbox" class="confirmBooking"
                           value="Пользователь подтвердил заказ">
                    <span class="checkmark"></span>
                </label>
                <button v-on:click="getAgreement" class="getAgree">пользовательского соглашения.</button>
                </p>

                <button class="bookingMakerBtn" v-on:click="bookingMaker">ОФОРМИТЬ ЗАКАЗ</button>

            </div>
            <!--start div#sidebar-->
            <div id="sidebar">
                <div class="sideText">Ваш заказ:</div>
                <div class="basketItems">
                    <div id="appBasket"></div>
                </div>
                <hr class="line">
                <div class="summaryText">Всего: {{totalProductPrice}} грн</div>
            </div>
        </div>
    </div>
    <!-- end div#content -->
    <!-- end div#sidebar -->

</div>
<!-- end div#page -->
<!-- end div#wrapper -->
<footer>
    <div id="wrapperFooter">
        <div id="footerContent">
            <nav>
                <a style="text-decoration: none;" v-on:click="anotherAction">Программа лояльности</a>
                <a style="text-decoration: none;" href="#">Отзывы</a>
                <a style="text-decoration: none;" href="guest/contact.html"> Контакты</a>
                <a style="text-decoration: none;" href="https://goo.gl/maps/MLskzawkCtqhW2mr9">Найти на карте</a>
                <a style="text-decoration: none;" v-on:click="anotherAction">О нас</a>
            </nav>
            <div id="logoFooter">
                <a href="index.html"><img style="width: 500px; height: auto; margin: 0 auto; position: relative"
                                          src="css/images/logo6.png" alt=""></a>

            </div>
            <div class="social">
                <a href="#"><img src="css/images/Facebook.png" alt="logo"></a>
                <a href="#"><img src="css/images/Instagram.png" alt="logo"></a>
                <a href="#"><img src="css/images/Twitter.png" alt="logo"></a>
            </div>
            <p id="footerSignature">CUBAFISH 2020 &copy;</p>
        </div>
    </div>
</footer>
<script src="js/card.js"></script>
</body>
</html>
