<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>CUBAFISH</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="css/card.css" rel="stylesheet" type="text/css"/>
    <link rel="icon" type="image/png" href="css/images/siteIcon.png">
</head>

<body>
<header>
    <div class="wrapper">
        <div class="logo">
            <img style="width: 450px; height: auto;"
                 src="css/images/logo777.png" alt="Logo"
                 class="logo__pic">

        </div>
    </div>

</header>

<div id="moveBackground">
</div>
<!-- end div#header -->
<div id="pageWrapper">
    <div id="appSelector">
        <div id="page">
            <div id="textForm">Оформление заказа</div>
            <div id="content">
                <div id="appSelectorText">Способ оплаты:</div>

                <select v-model="paymentType" id="selectorStyle">
                    <option disabled value="">Выберите один из вариантов</option>
                    <option>Наличными</option>
                    <option>Оплата при получении</option>
                    <option>ПриватБанк</option>
                </select>

                <div id="typeDelivery">Способ доставки:</div>
                <select v-model="deliveryType" id="selectorStyle2">
                    <option disabled value="">Выберите один из вариантов</option>
                    <option>Нова Пошта</option>
                    <option>Укр Пошта</option>
                    <option>Курьером</option>
                </select>

                <div id="aboutRecipient">Информация о получателе:</div>

                <input v-model="firstnameUser" name="firstnameUser" type="text" id="firstnameUser"
                       placeholder="Введите ваше имя"/>

                <input v-model="lastnameUser" name="lastnameUser" type="text" id="lastnameUser"
                       placeholder="Введите вашу фамилию"/>

                <input v-model="surnameUser" name="surnameUser" type="text" id="surnameUser"
                       placeholder="Введите ваше отчество"/>

                <div id="aboutEmail">Email:</div>

                <input v-model="emailNameUser" name="emailNameUser" type="text" id="emailNameUser"
                       placeholder="Введите ваш e-mail"/>

                <div id="aboutPhoneNumber">Номер телефона:</div>

                <input v-model="phoneNameUser" name="phoneNameUser" type="text" id="PhoneNameUser"
                       placeholder="Введите ваш номер телефона"/>

                <label class="container">Я подтверждаю заказ
                    <input v-model="confirmBooking" type="checkbox" id="confirmBooking"
                           value="Користувач підтвердив замовлення">
                    <span class="checkmark"></span>
                </label>
                <div id="buttonForBuy">
                    <button class="btn">Оформить заказ</button>
                </div>

            </div>
            <!--start div#sidebar-->
            <div id="sidebar">
                <div id="sidetext">Ваш заказ:</div>
                <div id="basketItems">
                    <div id="appBasket"></div>
                </div>
                <hr id="line">
                <div id="summaryText">Всего: {{totalProductPrice}} грн</div>

            </div>
        </div>

        <!-- end div#content -->
        <!-- end div#sidebar -->
    </div>
    <script src="js/card.js"></script>
</div>
<!-- end div#page -->
<!-- end div#wrapper -->
<footer>
    <div id="wrapperFooter">
        <nav>
            <a href="index.html">HOME</a>
            <a href="project.html">PROJECT</a>
            <a href="blog.html">BLOG</a>
            <a href="contact.html">CONTACT</a>
            <a href="about.html">ABOUT</a>
            <a href="services.html">SERVICES</a>
            <a href="location.html">LOCATION</a>

        </nav>
        <div id="logoFooter">
            <a href="index.html"><img style="width: 700px; height: auto; margin: 0 auto; position: relative"
                                      src="css/images/logo6.png" alt=""></a>

        </div>
        <div class="social">
            <a href="#"><img src="css/images/Facebook.png" alt=""></a>
            <a href="#"><img src="css/images/Instagram.png" alt=""></a>
            <a href="#"><img src="css/images/Twitter.png" alt=""></a>

        </div>
        <p>Copyright. 2020</p>
    </div>
</footer>
</body>
</html>
