<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>CUBAFISH</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="css/guest.css" rel="stylesheet" type="text/css"/>
    <link rel="icon" type="image/png" href="css/images/siteIcon.png">
</head>

<body>
<header>
    <div class="wrapper">
        <div class="logo">
            <img style="width: 400px; height:auto"
                 src="css/images/logo777.png" alt="Logo"
                 class="logo__pic">
        </div>
        <div id="appLogoutButtons">
            <nav class="menu">
                <a href="#" class="menu__item">Программа лояльности</a>
                <a href="#" class="menu__item">Отзывы</a>
                <a href="#" class="menu__item">Контакты</a>
                <a href="http://91.235.128.12:8081/guest/registration.html" class="menu__item">Регистрация</a>
                <!-- change address-->
                <a href="http://91.235.128.12:8081/admin/authorize.html" class="menu__item">Войти</a>
            </nav>
        </div>

        <div class="search-box">
            <input type="text" class="search-txt" placeholder="Type for search"/>
            <div id="searchImage"><img style="width: 25px; height: auto" src="css/images/lupa.png"></div>
        </div>
        <div id="basketImage">
            <table style="width: auto; height: auto">
                <tr>
                    <td>
                        <div v-if="basketItemsCount===false"><img v-on:click="activeImageAction"
                                                                  style="width: 75px; height: 65px; border-radius:5%"
                                                                  src="css/images/shopping-cart.png"
                                                                  alt="basketImage"/>
                        </div>
                        <div v-if="basketItemsCount===true"><img v-on:click="activeImageAction"
                                                                 style="width: 75px; height: 65px; border-radius:5%"
                                                                 src="css/images/shopping-cart2.png"
                                                                 alt="basketImage"/>
                            <div id="basketCount" style="position: relative; bottom: 65px; left: 27px"><h5>
                                {{basketItemsAmount}}</h5></div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</header>

<div id="moveBackground">
    <div id="appHeaderButtons">
        <table id="horizontalButton">
            <tr>
                <td>
                    <button type="submit"
                            class="headerButton" v-on:click="getSortedProductsByTypeOfPurpose('Карповая ловля')">
                        КАРПОВАЯ ЛОВЛЯ
                    </button>
                </td>
                <td>
                    <button type="submit"
                            class="headerButton" v-on:click="getSortedProductsByTypeOfPurpose('Фидерная ловля')">
                        СПИННИНГОВАЯ ЛОВЛЯ
                    </button>
                </td>
                <td>
                    <button type="submit"
                            class="headerButton"
                            v-on:click="getSortedProductsByTypeOfPurpose('Спиннинговая ловля')">ФИДЕРНАЯ ЛОВЛЯ
                    </button>
                </td>
                <td>
                    <button type="submit"
                            class="headerButton" v-on:click="getSortedProductsByTypeOfPurpose('Поплавочная ловля')">
                        ПОПЛАВОЧНАЯ ЛОВЛЯ
                    </button>
                </td>
                <td>
                    <button type="submit"
                            class="headerButton" v-on:click="getSortedProductsByTypeOfPurpose('Зимняя ловля')">
                        ЗИМНЯЯ ЛОВЛЯ
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
<!-- end div#header -->
<div id="pageWrapper">
    <div id="page">
        <div id="content">
            <div id="app">
            </div>
            <transition name="fade">
                <div v-if="show" id="appShowBasket" v-on:click="show=false">
                    <div id="insideWindowBasket" v-on:click="show=false">
                        <div id="summaryDiv" v-on:click="show=false">
                            <table id="summaryTable">
                                <tr>
                                    <td style="border-collapse: collapse;border: 1px none black;border-bottom-style: solid; width: 800px; height: auto">
                                        <p>Товар добавлен в корзину</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </transition>

        </div>
        <!--start div#sidebar-->
        <div id="sidebar">
            <div id="appCategory">
            </div>
            <div id="appSubCategory">
            </div>
            <div id="appProductBrand">
            </div>
            <script src="js/guest.js"></script>
        </div>
        <!-- end div#content -->
        <!-- end div#sidebar -->
    </div>
</div>
<!-- end div#page -->
<!-- end div#wrapper -->
<footer>
    <div id="wrapperFooter">
        <nav>
            <a href="#">Программа лояльности</a>
            <a href="#">Отзывы</a>
            <a href="#"> Контакты</a>
            <a href="#">Найти на карте</a>
            <a href="#">О нас</a>
        </nav>
        <div id="logoFooter">
            <a href="index.html"><img style="width: 700px; height: auto" src="css/images/logo6.png" alt=""></a>

        </div>
        <div class="social">
            <a href="#"><img src="css/images/Facebook.png" alt=""></a>
            <a href="#"><img src="css/images/Instagram.png" alt=""></a>
            <a href="#"><img src="css/images/Twitter.png" alt=""></a>
        </div>
        <p>CUBAFISH. 2020</p>
    </div>
</footer>
</body>
</html>
