<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Registration</title>
    <script src="../super_admin/js/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <link href="css/form.css" rel="stylesheet" type="text/css" />
</head>
<body id="body">
<div id="appReg">
    <form action="authorize.html">
        <button id="outFromForm">Click here to login</button>
    </form>
        <table>
            <tr>
                <td><h1>Registration Form</h1></td>
            </tr>
            <tr>
                <td width="300px" height="40px">
                    <h2>{{responseApi}}</h2>
                </td>
            </tr>
            <tr>
                <td>
                    <input  v-model="username" name="username" type="text" id="username" placeholder="Enter user name"/></td>
            </tr>
            <tr>
                <td>
                    <input  v-model="password" name="password" type="password" id="password" placeholder="Enter password"/>
                </td>
            </tr>
            <tr>
                <td>
                    <input  v-model="email" name="email" type="email" id="email" placeholder="Enter email"/>
                </td>
            </tr>
            <tr>
                <td>
                    <input  v-model="userContact" name="userContact" type="text" id="contact"
                           placeholder="Enter telephone like +38(***)*** ** **"/>
                </td>
            </tr>
            <tr>
                <td>
                    <button v-on:click="saveUser" id="inForm">Done</button>
                </td>
            </tr>
        </table>
</div>
<script src="js/registration.js"></script>
</body>
</html>
