<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=0.7">
    <meta name="keywords" content="Интернет-магазин Cubafish">
    <meta name="description" content="cubafish.com.ua - Рыболовный интернет магазин | Все для максимального улова.">
    <meta property="og:site_name" content="www.cubafish.com.ua">
    <title>CUBAFISH</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="guest/js/google-translate.js"></script>
    <script src="//translate.google.com/translate_a/element.js?cb=TranslateInit"></script>
    <link href="guest/css/guest.css" rel="stylesheet" type="text/css"/>
    <link rel="icon" type="image/png" href="guest/css/images/siteIcon.png">

</head>

<body>
<header>
    <div class="wrapper">
        <div class="logo">
            <img style="width: 400px; height:auto"
                 src="guest/css/images/logo777.png" alt="Logo"
                 class="logo__pic">
        </div>
        <div id="appLogoutButtons">
            <nav class="menu">
                <a v-on:click="anotherAction" class="menu__item">Программа лояльности</a>
                <a href="guest/feedback.html" class="menu__item">Отзывы</a>
                <a href="guest/contact.html" class="menu__item">Контакты</a>
                <a v-on:click="registrationUserAction" class="menu__item">Регистрация</a>
                <a v-on:click="loginUserAction" class="menu__item">Войти</a>
            </nav>
        </div>
        <div id="appSearchForm">
        <div class="search-box" >
            <input type="text" class="search-txt" placeholder="Напишите фразу затем нажмите на кнопку поиска" v-model="searchTag"/>
            <div id="searchImage" v-on:click="searchRequest"><img style="width: 40px; height: auto" src="guest/css/images/lupa.png"></div>
        </div>
        </div>
        <a id="adminNumber" href="tel:+380989900429">
            <img style="width: 170px; height: auto" src="guest/css/images/phoneNumber.png" alt="number">
        </a>
        <div class="languageKit">
            <img style="width: 40px; height: auto" src="guest/css/images/uaLanguage.png" alt="uk" data-google-lang="uk"
                 class="language__img">
            <img style="width: 40px; height: auto" src="guest/css/images/enLanguage.png" alt="en" data-google-lang="en"
                 class="language__img">
            <img style="width: 40px; height: auto" src="guest/css/images/rusLanguage.png" alt="ru" data-google-lang="ru"
                 class="language__img">
        </div>
        <div id="basketImage">
            <table style="width: auto; height: auto">
                <tr>
                    <td>
                        <div v-if="basketItemsCount===false"><img v-on:click="activeImageAction"
                                                                  style="width: 75px; height: 65px; border-radius:5%"
                                                                  src="guest/css/images/shopping-cart.png"
                                                                  alt="basketImage"/>
                        </div>
                        <div v-if="basketItemsCount===true"><img v-on:click="activeImageAction"
                                                                 style="width: 75px; height: 65px; border-radius:5%"
                                                                 src="guest/css/images/shopping-cart2.png"
                                                                 alt="basketImage"/>
                            <div id="basketCount" style="position: relative; bottom: 65px; left: 27px"><h5>
                                {{basketItemsAmount}}</h5></div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</header>

<div id="moveBackground">
    <div id="appHeaderButtons">
        <table id="horizontalButton">
            <tr>
                <td>
                    <button type="submit"
                            class="headerButton" v-on:click="getSortedProductsByTypeOfPurpose('Карповая ловля')">
                        карповая ловля
                    </button>
                </td>
                <td>
                    <button type="submit"
                            class="headerButton" v-on:click="getSortedProductsByTypeOfPurpose('Фидерная ловля')">
                        спининговая ловля
                    </button>
                </td>
                <td>
                    <button type="submit"
                            class="headerButton"
                            v-on:click="getSortedProductsByTypeOfPurpose('Спиннинговая ловля')">
                        фидерная ловля
                    </button>
                </td>
                <td>
                    <button type="submit"
                            class="headerButton" v-on:click="getSortedProductsByTypeOfPurpose('Поплавочная ловля')">
                        поплавочная ловля
                    </button>
                </td>
                <td>
                    <button type="submit"
                            class="headerButton" v-on:click="getSortedProductsByTypeOfPurpose('Зимняя ловля')">
                        зимняя ловля
                    </button>
                </td>
                <td>
                    <button type="submit"
                            class="headerButton" v-on:click="getSortedProductsByTypeOfPurpose('Туризм')">
                        туризм
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
<!-- end div#header -->
<div id="pageWrapper">
    <div id="page">
        <div id="content">
            <div id="app">
            </div>
            <transition name="fade">
                <div v-if="show" id="appShowBasket" v-on:click="show=false">
                    <div id="insideWindowBasket" v-on:click="show=false">
                        <div id="summaryDiv" v-on:click="show=false">
                            <table id="summaryTable">
                                <tr>
                                    <td style="border-collapse: collapse;border: 1px none black;border-bottom-style: solid; width: 800px; height: auto">
                                        <p>Товар добавлен в корзину</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </transition>
            <div id="appSearchResult">
                <div id="searchInformation" v-if="searchResult">
                    <img src="guest/css/images/information.png"
                         style="position: relative; width: 70px; height: auto; left: 300px">
                    <p id="textInformation"> - Ничего не найдено</p>
                </div>
            </div>
        </div>
        <!--start div#sidebar-->
        <div id="sidebar">
            <div id="appCatalog">
                <div v-if="hamburgerBtn" class="hamburgerBtn" v-on:click="createCategories">
                    <img src="guest/css/images/hamburgerButton.png" style="width: 30px; height: 24px; vertical-align: middle;
                    margin-left: 10px; margin-right: 10px; margin-bottom: 7px">
                    Каталог
                </div>
                <div v-if="hamburgerBtnActive" class="hamburgerBtn" v-on:click="hamburgerBtnHiddenFlag">
                    <img src="guest/css/images/hamburgerButton.png" style="width: 30px; height: 24px; vertical-align: middle;
                    margin-left: 10px; margin-right: 10px;margin-bottom: 7px">
                    Назад
                </div>
            </div>
            <hr id="menuLine">
            <div id="appCategory">
            </div>
            <div id="appSubCategory">
            </div>
            <div id="appProductBrand">
            </div>
        </div>
        <!-- end div#content -->
        <!-- end div#sidebar -->
    </div>
</div>
<!-- end div#page -->
<!-- end div#wrapper -->
<footer>
    <div id="wrapperFooter">
        <div id="footerContent">
            <nav>
                <a style="text-decoration: none;" v-on:click="anotherAction">Программа лояльности</a>
                <a style="text-decoration: none;" href="guest/feedback.html">Отзывы</a>
                <a style="text-decoration: none;" href="guest/contact.html"> Контакты</a>
                <a style="text-decoration: none;" href="https://goo.gl/maps/MLskzawkCtqhW2mr9">Найти на карте</a>
                <a style="text-decoration: none;" v-on:click="anotherAction">О нас</a>
            </nav>
            <div id="logoFooter">
                <a href="index.html"><img style="width: 500px; height: auto;"
                                          src="guest/css/images/logo6.png" alt="logo"></a>

            </div>
            <div class="social">
                <a href="#"><img src="guest/css/images/Facebook.png" alt="logo"></a>
                <a href="#"><img src="guest/css/images/Instagram.png" alt="logo"></a>
                <a href="#"><img src="guest/css/images/Twitter.png" alt="logo"></a>
            </div>
            <p id="footerSignature">CUBAFISH 2020 &copy;</p>
        </div>
    </div>
</footer>
<script src="guest/js/guest.js"></script>
</body>
</html>
