<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Log in</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <link href="css/form.css" rel="stylesheet" type="text/css" />
</head>
<body id="body">
<div id="appLogin">
    <form action="registration.html">
        <button id="outFromForm">Зарегистрироваться</button>
    </form>
    <table>
        <tr>
            <td><h1>CubaFish</h1></td>
        </tr>
        <tr>
            <td width="300px" height="40px">
            </td>
        </tr>
        <tr>
            <td>
                <input  v-model="username" name="username" type="text" id="username" placeholder="Enter user name"/></td>
        </tr>
        <tr>
            <td>
                <input  v-model="password" name="password" type="password" id="password" placeholder="Enter password"/>
            </td>
        </tr>
        <tr>
            <td>
                <button v-on:click="authorisation" id="inForm">Login</button>
            </td>
        </tr>
    </table>
</div>
<script src="js/authorize.js"></script>
</body>
</html>
