
* {
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff;
    text-align: justify;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    /*font-style: italic;*/
}

h1, h3 {
    color: #FFFFFF;
}

h2, h4, h5 {
    color: #FFFFFF;
}

h1 {
}

h2 {
}

h3 {
}

p, blockquote, ul, ol {
    margin-bottom: 5px;
    margin-top: 5px;
    line-height: 1.1em;
}


/* Wrapper */

/* Header */


header {
    border: 1px solid #154a00;
    min-width: 2500px;
    max-width: 100%;
    height: 200px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Параметры тени */
    padding: 10px;
}

.logo {
    position: relative;
    top: 20px;
    left: 680px;
}

.wrapper {
    width: 1900px;
    margin: 0 auto;
    background-color: #ffffff;
}

/*.row {*/
/*    !*display: flex;*!*/
/*    flex-wrap: wrap;*/
/*}*/


#appLogoutButtons {
    position: relative;
    bottom: 100px;
    left: 370px;
}

.menu {
    width: 1100px;
    align-self: center;
    text-align: center;
}

.menu__item {
    color: #393900;
    font-family: Arial;
    font-size: 25px;
    line-height: 1;
    font-weight: 820;
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.menu__item:last-child {
    margin-right: 0;
}

.search-box {
    position: relative;
    background-color: #585801;
    width: 300px;
    height: 20px;
    border-radius: 40px;
    padding: 10px;
    left: 1450px;
    bottom: 135px;
}

.search-btn {
    position: relative;
    left: 245px;
    top: 0;
    bottom: 50px;
    justify-content: center;
    align-items: center;
    color: #000000;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    text-decoration: none;
}

.search-txt {
    border: none;
    outline: none;
    background: none;
    padding: 0;
    color: #fff;
    font-size: 16px;
    /*transition: .4s;*/
    /*line-height: 40px;*/
    width: 240px;
}

.search-box:hover .search-txt {
    width: 240px;
    padding: 0px;
}

.search-box:hover .search-btn {
    background-color: #3e3e00;
}

.placeholder {
    background-color: white;
}

#searchImage {
    position: relative;
    right: 0;
    left: 270px;
    bottom: 15px;
}

/* Logo */


#basketImage {
    position: relative;
    top: auto;
    bottom: 185px;
    right: auto;
    left: 1800px;
    width: 75px;
    height: 65px;
}

/* Menu */

#appHeaderButtons {
    margin: 0 auto;
    padding: 0px 0px 0px 0px;
    background: white;
}

/*#moveBackground {*/
/*    position: relative;*/
/*    min-width: 2500px;*/
/*    max-width: 100%;*/
/*    height: 41px;*/
/*    background-color: #585801;*/
/*}*/

.headerButton {
    width: 378px;
    height: 40px;
    z-index: 1;
    background: #585801;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    font-style: italic;
    color: #FFFFFF;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-color: #585801;
    border-radius: 4px;
}

.headerButton:hover {
    background: #8c8c01;
    tansition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 12px;
    font-style: italic;
    color: #000000;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-color: #585801;
    border-radius: 4px;
}

.headerButton:active {
    background: #585801;
    tansition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 14px;
    font-style: italic;
    color: #FFFFFF;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-color: #585801;
    border-radius: 4px;
}

/* Page */
#pageWrapper {
    margin: 0 auto;
    position: relative;
    min-width: 2500px;
    max-width: 100%;
    height: auto;
    background-color: #d0d0d0;
}

#page {
    position: relative;
    width: 1500px;
    height: 2700px;
    margin: 0 auto;
    background-size: cover;
}

/* Content */

#content {
    border-radius: 10px;
    background-color: white;
    position: relative;
    top: 30px;
    right: 40px;
    float: right;
    width: 750px;
    height: 1100px;
    overflow: auto;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5); /* Параметры тени */
    padding: 10px;
}

#content::-webkit-scrollbar {
    width: 0;
}


/* Sidebar */


/*getFromDb*/
#fromDb {
    border-collapse: collapse;
    border: 1px solid #949393;
    margin-top: 10px;
    background: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
}

#detailsTable {
    margin-bottom: 10px;
    background: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
}

#fromDbButtons {
    border-collapse: collapse;
    border: 1px none white;
    border-bottom-style: solid;
    margin-bottom: 10px;
}

#fromDbButtonsSubCategory {
    border-collapse: collapse;
    border: 1px none white;
    border-bottom-style: solid;
    margin-bottom: 10px;
}

#cellStyle {
    text-align: center;
    vertical-align: center;
}

#cellStyleDescription {
    text-align: left;
    vertical-align: center;
}

#cellStyleSpecification {
    text-align: left;
    vertical-align: top;
}

/*getFromDb*/

#app {
    float: left;
    width: auto;
}

#sidebar {
    top: 30px;
    position: relative;
    left: 20px;
    width: 630px;
    height: 1100px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5); /* Параметры тени */
    padding: 10px;
    border-radius: 15px;
    background-color: #ffffff;
}

#sidebar::-webkit-scrollbar {
    width: 0;
}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: normal;
}

#sidebar li {
    margin-bottom: 1px;
}

#sidebar li ul {
    margin: 0px;
    padding: 0px 0px 40px 27px;
}

#sidebar li li {
    margin: 0;
    padding: 9px 0px;
    border: none;
    background: none;
}

#sidebar h2 {
    margin: 0px;
    padding: 0px 0px 10px 0px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    font-weight: normal;
    font-style: italic;
    color: #020202;
}

#sidebar h3 {
    font-size: 77%;
    color: #110404;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

td {
    text-align: center;
}

.menuButton {
    width: 320px;
    height: 80px;
    z-index: 1;
    background: #585801;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 24px;
    font-style: italic;
    color: #FFFFFF;
    border-top: 0;
    border-left: 2px solid;
    border-right: 0;
    border-bottom: 2px solid;
    border-color: #FFFFFF;
    border-radius: 4px;
}

.menuButton:hover {
    background: #8c8c01;
    tansition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    font-style: italic;
    color: #ffffff;
    border-top: 0;
    border-left: 2px solid;
    border-right: 0;
    border-bottom: 2px solid;
    border-color: #8c8c01;
    border-radius: 4px;
}

.menuButton:active {
    background: #585801;
    tansition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    font-style: italic;
    color: #FFFFFF;
    border-top: 0;
    border-left: 2px solid;
    border-right: 0;
    border-bottom: 2px solid;
    border-color: #585801;
    border-radius: 4px;
}

.subMenuButton {
    width: 300px;
    height: 60px;
    z-index: 1;
    background: rgb(0, 74, 113);
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 17px;
    font-style: italic;
    color: #FFFFFF;
    border-top: 0;
    border-left: 2px solid;
    border-right: 0;
    border-bottom: 2px solid;
    border-color: #FFFFFF;
    border-radius: 4px;
}

.subMenuButton:hover {
    background: #FA8258;
    tansition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 14px;
    font-style: italic;
    color: #000000;
    border-top: 0;
    border-left: 2px solid;
    border-right: 0;
    border-bottom: 2px solid;
    border-color: #000000;
    border-radius: 4px;
}

.subMenuButton:active {
    background: #3e3e00;
    tansition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 11px;
    font-style: italic;
    color: #FFFFFF;
    border-top: 0;
    border-left: 2px solid;
    border-right: 0;
    border-bottom: 2px solid;
    border-color: #FFFFFF;
    border-radius: 4px;
}

.brandMenuButton {
    width: 250px;
    height: 50px;
    z-index: 1;
    background: rgb(210, 133, 0);
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 17px;
    font-style: italic;
    color: #000000;
    border-top: 0;
    border-left: 2px solid;
    border-right: 0;
    border-bottom: 2px solid;
    border-color: #FFFFFF;
    border-radius: 4px;
}

.brandMenuButton:hover {
    background: #FA8258;
    tansition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 14px;
    font-style: italic;
    color: #000000;
    border-top: 0;
    border-left: 2px solid;
    border-right: 0;
    border-bottom: 2px solid;
    border-color: #000000;
    border-radius: 4px;
}

.brandMenuButton:active {
    background: #3e3e00;
    tansition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 11px;
    font-style: italic;
    color: #FFFFFF;
    border-top: 0;
    border-left: 2px solid;
    border-right: 0;
    border-bottom: 2px solid;
    border-color: #FFFFFF;
    border-radius: 4px;
}

#superAdminButton {
    width: 85px;
    height: 50px;
}

#superAdminButtonProductTemplate {
    position: relative;
    top: 18px;
    bottom: auto;
    right: auto;
    left: auto;
    transform: rotate(90deg);
    width: 85px;
    height: 50px;
}

#superAdminButtonNewProduct {
    width: 85px;
    height: 50px;
}

#superAdminButtonSubCategory {
    width: 50px;
    height: 30px;
}

#appNewCategory {
    position: relative;
    top: 30px;
    background: rgba(128, 128, 0, 0.5);
}

.productValue {
    margin: auto auto auto 10px;
}

#productValue1 {
    position: relative;
    width: 435px;
    height: 200px;
    word-wrap: break-word;
    font-family: Gill Sans, sans-serif;
    font-size: 20px;
    font-style: normal;
    color: #000000;
}

#productValue2 {
    position: relative;
    margin: 0 auto;
    width: 400px;
    height: 240px;
    word-wrap: break-word;
    font-family: Gill Sans, sans-serif;
    font-size: 20px;
    font-style: normal;
    text-align: left;
    color: #000000;
}

#productValue3 {
    position: relative;
    width: 300px;
    height: 50px;
    word-wrap: break-word;
    font-family: Gill Sans, sans-serif;
    font-size: 26px;
    font-style: normal;
    color: #000000;
}

#available {
    position: relative;
    top: 10px;
    left: 10px;
    width: 300px;
    height: 50px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 25px;
    font-style: italic;
    color: #585801;
}

#notAvailable {
    position: relative;
    top: 10px;
    left: 10px;
    width: 300px;
    height: 50px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 25px;
    font-style: italic;
    color: #c30303;
}

.bueButton {
    position: relative;
    top: auto;
    left: auto;
    right: 7px;
    bottom: 10px;
    width: 200px;
    height: 70px;
    z-index: 1;
    background: #585801;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 24px;
    font-style: normal;
    color: #ffffff;
    border: 5px solid #585801;
    border-radius: 20px;
}

.bueButton:hover {
    background: transparent;
    tansition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    font-style: normal;
    color: #000000;
    border: 5px solid #585801;
    border-radius: 20px;
}

.bueButton:active {
    background: #585801;
    tansition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    font-style: normal;
    color: #ffffff;
    border: 5px solid #585801;
    border-radius: 20px;
}

#window {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background-color: rgba(26, 26, 26, 0.5);
}

#insideWindow {
    position: relative;
    margin: 0 auto;
    width: 800px;
    height: 800px;
    top: 20%;
}

#bigPhoto {
    position: relative;
    width: 900px;
    height: 900px;
    border: none;
}

#bigPhotoButtonMove {
    position: relative;
    left: 430px;
    bottom: 0;
    top: auto;
    right: auto;
}

.bigPhotoButton {
    position: relative;
    width: 30px;
    height: 30px;
    background-image: url(images/close.png);
    background-size: 30px 30px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-radius: 10px;
}

.bigPhotoButton:hover {
    background: url(images/close2.png);
    background-size: 30px 30px;
    tansition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-radius: 10px;
}

.bigPhotoButton:active {
    background: url(images/close.png);
    background-size: 30px 30px;
    tansition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-radius: 10px;
}

#bigPhotoButtonDiv {
    position: relative;
    float: right;
    top: 2px;
    bottom: 0;
    left: 845px;
    right: 2px;
}

#appShowBasket {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 900;
    background-color: rgba(26, 26, 26, 0.5);
}

#insideWindowBasket {
    position: relative;
    margin: 0 auto;
    width: 400px;
    height: 100px;
    top: 25%;
}

.detailsBtnColor {
    position: relative;
    width: 100%;
    height: 100%;
    background: #565601;
}

.detailsBtnColor:hover {
    position: relative;
    width: 100%;
    height: 100%;
    background: #737300;
}

.btn {
    position: relative;
    margin: 0 auto;
    height: 25px;
    width: 50px;
    border: none;
    background: url(images/arrowIcon.png);
    background-size: 50px 25px;
    cursor: pointer;
    outline: none;
    overflow: hidden;

}

.btnUp {
    position: relative;
    margin: 0 auto;
    height: 25px;
    width: 50px;
    border: none;
    background: url(images/arrowIconUp.png);
    background-size: 50px 25px;
    cursor: pointer;
    outline: none;
    overflow: hidden;

}

#summaryTable {
    background-color: #585801;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    font-style: italic;
    color: #ffffff;
    border-collapse: collapse;
    border: 1px none black;
    border-bottom-style: solid;
    position: relative;
    width: 400px;
    height: 100px;
}

#productBasketValue1 {
    position: relative;
    width: 200px;
    height: auto;
    word-wrap: break-word;
}

#productBasketValue2 {
    position: relative;
    width: 230px;
    height: auto;
    word-wrap: break-word;
}

#productBasketValue3 {
    position: relative;
    width: 120px;
    height: auto;
    word-wrap: break-word;
}

#availableInBasket {
    position: relative;
    width: 70px;
}

#notAvailableInBasket {
    position: relative;
    width: 70px;
}

#summaryDiv {
    position: inherit;
    margin: 0 auto;
    width: 800px;
    height: 300px;
    top: 20%;
}

.summaryTableButton {
    position: relative;
    float: right;
    top: auto;
    left: auto;
    right: 75px;
    bottom: 5px;
    width: 250px;
    height: 70px;
    background: #6b2020;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    font-style: italic;
    color: #FFFFFF;
    border-top: 0;
    border-left: 2px solid;
    border-right: 0;
    border-bottom: 2px solid;
    border-color: #FFFFFF;
    border-radius: 4px;
}

.summaryTableButton:hover {
    background: rgb(0, 74, 113);
    tansition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    font-style: italic;
    color: #000000;
    border-top: 0;
    border-left: 2px solid;
    border-right: 0;
    border-bottom: 2px solid;
    border-color: #000000;
    border-radius: 4px;
}

.summaryTableButton:active {
    background: #c9b500;
    tansition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    font-style: italic;
    color: #FFFFFF;
    border-top: 0;
    border-left: 2px solid;
    border-right: 0;
    border-bottom: 2px solid;
    border-color: #FFFFFF;
    border-radius: 4px;
}

#horizontalButton {
    position: relative;
    left: 2px;
    right: auto;
    top: 0;
    bottom: auto;
}

/*footer*/


footer p {
    color: white;
    font-size: small;
}

footer a {
    color: white;
    font-size: 14px;
    /*margin-left: 10px;*/

}

nav {
    font-size: 30px;
}

footer nav a:hover {
    border-bottom: 1px solid white;
}

.social {
    height: 30px;
}

.social img {
    width: 30px;
}

.social img:hover {
    background: #494949;
}

footer {
    position: relative;
    min-width: 2500px;
    max-width: 100%;
    height: auto;
    background-color: #585801;
    text-align: center;

}

#wrapperFooter {
    position: relative;
    width: 1900px;
    height: 300px;
    margin: 0 auto;

}

#logoFooter {
    position: relative;
    margin: 0 auto;
}


#sideText {
    position: relative;
    top: 0;
    left: 0;
    font-size: 30px;
}

#texttotal {
    font-size: 25px;
    position: relative;
    top: 320px;
    color: black;
    font-family: Arial, sans, serif;
}

#selectorStyle {
    position: relative;
    left: 35px;
    top: 20px;
    width: 700px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 10px;
}


#appSelectorText {
    position: relative;
    left: 35px;
    top: 15px;
    font-size: 17px;
    font-family: Arial, sans, serif;
}

#typeDelivery {
    position: relative;
    left: 35px;
    top: 30px;
    font-size: 17px;
    font-family: Arial, sans, serif;
}

#selectorStyle2 {
    position: relative;
    left: 35px;
    top: 35px;
    width: 700px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 10px;
}

#aboutRecipient {
    position: relative;
    left: 35px;
    top: 60px;
    font-size: 20px;
    font-family: Arial, sans, serif;
}

#regionUser {
    position: relative;
    left: 35px;
    top: 80px;
    width: 700px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 10px;
}

#cityUser {
    position: relative;
    left: 35px;
    top: 110px;
    width: 700px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 10px;
}

#addressUser {
    position: relative;
    left: 35px;
    top: 140px;
    width: 700px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 10px;
}

#firstnameUser {
    position: relative;
    left: 35px;
    top: 170px;
    width: 700px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 10px;
}

#lastnameUser {
    position: relative;
    left: 35px;
    top: 200px;
    width: 700px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 10px;
}

#surnameUser {
    position: relative;
    left: 35px;
    top: 230px;
    width: 700px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 10px;
}

#aboutEmail {
    position: relative;
    left: 35px;
    top: 260px;
    font-size: 20px;
    font-family: Arial, sans, serif;
}

#emailNameUser {
    position: relative;
    top: 275px;
    left: 35px;
    width: 700px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 10px;
}

#aboutPhoneNumber {
    position: relative;
    top: 290px;
    left: 35px;
    font-size: 20px;
    font-family: Arial, sans, serif;
}

#PhoneNameUser {
    position: relative;
    top: 300px;
    left: 35px;
    width: 700px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 10px;
}

#textForm {
    position: relative;
    top: 0;
    left: 0;
    font-size: 35px;
    font-family: Arial, sans, serif;
    color: black;
}

.container {
    position: relative;
    bottom: auto;
    width: 480px;
    display: block;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    font-family: Arial, sans-serif;
    font-style: inherit;
    user-select: none;
    left: 40px;
    top: 320px;

}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    bottom: 20px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.statusIcon {
    position: relative;
    width: 20px;
    height: 20px;
    top: 10px;
    left: 5px;
    right: 0;
    border-radius: 5%;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #757500;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


#line {
    position: relative;
    top: 50px;
}

#basketItems {
    position: relative;
    overflow-y: auto;
    margin: auto;
    width: 600px;
    height: 900px;
    top: 30px;
}

#basketItems::-webkit-scrollbar {
    width: 0;
}

#basketTable {

}

.counterButton {
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 2px;
    width: 20px;
    height: 20px;
    background-image: url(images/plus.png);
    background-size: 20px 20px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-radius: 10px;
}

.counterButtonMinus {
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 2px;
    width: 20px;
    height: 20px;
    background-image: url(images/minus.png);
    background-size: 20px 20px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-radius: 10px;
}

.deleteButton {
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 20px;
    height: 20px;
    background-image: url(images/close.png);
    background-size: 20px 20px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-radius: 10px;
}

.deleteButton:hover {
    background: url(images/close2.png);
    background-size: 20px 20px;
    tansition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-radius: 10px;
}

.deleteButton:active {
    background: url(images/close.png);
    background-size: 20px 20px;
    tansition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-radius: 10px;
}


#summaryText {
    position: relative;
    top: 80px;
    left: 0;
    font-size: 30px;
}

.bookingMakerBtn {
    position: relative;
    top: 340px;
    left: 120px;
    right: auto;
    bottom: 10px;
    width: 500px;
    height: 70px;
    z-index: 1;
    background: #585801;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 24px;
    font-style: normal;
    color: #ffffff;
    border: none;
    border-radius: 15px;
}

.bookingMakerBtn:hover {
    background: rgb(172, 172, 0);
    background: linear-gradient(180deg, rgba(172, 172, 0, 1) 0%, rgba(88, 88, 1, 1) 100%);
    tansition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 24px;
    font-style: normal;
    color: #ffffff;
    border: none;
}

.bookingMakerBtn:active {
    background: rgb(128, 128, 5);
    tansition: all .50ms linear;
    -webkit-transition: all .50ms linear;
    -moz-transition: all .50ms linear;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 24px;
    font-style: normal;
    color: #ffffff;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

#insideWindowBasket {
    position: relative;
    margin: 0 auto;
    width: 400px;
    height: 100px;
    top: 25%;
}

#summaryDiv {
    position: inherit;
    margin: 0 auto;
    width: 800px;
    height: 300px;
    top: 20%;
}